<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <h1>Show!</h1>
  <h3>Name: <%= rabbit.name %></h3>
  <!-- <h3>Weight: <%= rabbit.weight %></h3>
  <h3>Height: <%= rabbit.height %></h3>
  <h3>Color: <%= rabbit.color %></h3> -->
  <h3>Age: <%= rabbit.age %></h3>

  <a href="/">Home</a>
  <!-- <a href="/<%= rabbit._id %>/edit">Edit</a> -->
</body>
</html>